*{
    font-family: "Roboto", sans-serif;
}
header{
    position: relative;
}
nav{
    height: 50px;
    background-color: #212121;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}
.menu .menu_link{
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
}
.menu .menu_item{
    border-right: 2px dotted black;
    padding-right: 28px;
}
.menu .menu_item:last-child{
   border: none;
}
.subheader{
    height: 84px;
    background-color: rgba(0, 0, 0, 0.6);
    /* opacity: 0.6;  из авокода дает прозрачность блока а не фона*/
    /* вариант задвинуть блок под блок */
    position: absolute;
    width: 100%;
    top: 50px;

}
.subheader .subheader_logo{
    display: block;
    max-width: 100%;
    margin-top: 16px;
}
.subheader .subheader_official{
    margin-top: 6px;
    opacity: 0.5;
    font-size: 13px;
    font-weight: 100;
    color: #ffffff;
}
.subheader .subheader_call{
    margin-top: 18px;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    text-align: right;
}
.subheader .subheader_phone{
    display: block;
    margin-top: 8px;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    text-align: right;
    line-height: 12px;
}
.subheader .subheader_btn{
    width: 172px;
    height: 46px;
    margin-top: 19px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%);
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2);
    border: 3.0px solid rgba(0,0,0,0.07);
    border-radius: 4px;
}
.promo{
    text-align: center;
    min-height: 800px;
    background: url('../img/bg/bg_header.jpg') center center/cover no-repeat;
    padding: 200px 0 135px 0;
}
.promo .promo_header{
    font-size: 60px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 60px; /* чтобы перебить схлопывание */
    margin: 0; /* уибираем mt5 из reset */
}
.promo .promo_subheader{
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    color: #ffffff;
    line-height: 36px; /* чтобы перебить схлопывание */
    margin: 0; /* уибираем mt5 из reset */
    margin-top: 22px;
}
.promo .promo_descr{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 23px;
}
.promo .promo_btn{
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%);
    border: 3.0px solid rgba(0,0,0,0.07);
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2);
    font-size: 18px;
    line-height: 62px;  /* выравниваем текст вертикально в кнопке */
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 4px;
}
.adventages{
    min-height: 900px;
    padding-bottom: 65px;
}

.adventages .adventages_header{
    width: 112px;
    height: 24px;
    background-color: #000000;
    font-size: 11px;
    font-weight: 100;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    line-height: 24px;
    margin: 70px auto 0 auto;
}
.adventages .adventages_subheader{
    font-size: 38px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 40px;
}

.adventages .item_icon{
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.item .item_title{
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    color: #1eacc7;
}
.item .item_text{
    font-size: 15px;
    font-weight: 300;
    color: #202020;
    text-align: justify;
    margin-bottom: 35px;
}